body { background-color:black ; color: white;


}

h1 { font-style: italic; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#informacoes {background-color: cadetblue; font-style: italic, bold;

}

.classhability {
    font-size: x-large;
}